

.slider {
    text-align: match-parent;
    font-weight: 500;
    width: 100%;
    position: relative;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #a3ffea);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 70px;
    margin: 200px 0px 250px;
    border-radius: 65px;
    height: 600px;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transition: all .3s;
}

@keyframes slider {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.carouselExampleIndicators {
  /* padding: 100px 0px 100px 0px; */
}


.carousel-control-prev {
  margin-top: 200px;
  margin-left: -50px;
}

.carousel-control-next {
  margin-top: 200px;
  margin-right: -50px;
}

.slideH3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
}

h7 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.carousel-item {
    margin: 50 50 50 50;
}


.button1 {
  width: 10px;
  height: 15px;
  position: fixed;
  margin-left: 20px;
  margin-top: -200px;
  padding-bottom: 20px;
}

.button11 {
  width: 10px;
  height: 15px;
  position: relative;
  margin-left: 230px;
  margin-top: 80px;
  padding-bottom: 20px;
}

.c-social-links__link {
  width: 10px;
  height: 15px;
  margin-left: 2px;
  margin-right: 20px;
} 




  